@model List<LifeSureProject.Models.DataModels.TblTestimonial>
<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class="display-4 mb-4">Müşterilerimiz Ne Diyor</h1>
            <p class="mb-0">
                "LifeSure olarak müşteri memnuniyetini her zaman ön planda tutuyoruz. Hizmetlerimizden faydalanan müşterilerimizin deneyimleri, sunduğumuz sigorta çözümlerinin kalitesini ve güvenilirliğini en iyi şekilde yansıtır."
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
            @foreach(var item in Model)
            {
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="@item.TestimonialImgUrl" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">@item.TestimonialName</h4>
                            <p class="mb-3">@item.TestimonialTitle</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="mb-0">
                                @item.TestimonialDescription
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
